// COLORS
$primary-color: #f5d000;
$secondary-color: #fff674;

$white-color: #440000;

$dark-grey: #5f5f5f;
$light-grey: #d2d2d2;

$dark-blue-text: #9b9b9b; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
